body{
    margin: 0;
    padding: 0;
}
*{
    font-family:'Noto Sans', sans-serif;
    border-radius:5px ;
}
.signup-div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    height: 800px;
    align-items: center;
}
.signupform{
    width: 50%;
    margin: 0 auto;
   box-shadow: 0px 0px 10px grey;
    height: 350px;
    padding: 20px;
}
.signupform input{
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    border:1px solid grey;
}
.signupform label{
    margin: 20px auto;
    width: 80%;
}
.signupform button{
    background-color: grey;
    color: white;
    border: 2px solid grey;
    border-radius: 5px;
    transition: 0.5s ease;
    padding: 10px 30px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.signupform button:hover{
    border: 2px solid black;
    background-color: black;
    color: white;
    transition: 0.5s ease;
    padding: 10px 30px;

}
.signup-heading{
    text-align: center;
}
.signup-here{
    text-align: center;
}
.signup-here span{
    text-decoration: none;
    color: grey;
    transition: 0.5s ease;
    cursor: pointer;
}
.signup-here span:hover{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

@media screen and (max-width:1024px) {
    .signupform{
        width: 80%;
        margin: 0 auto;
       box-shadow: 0px 0px 10px grey;
        height: 370px;
        padding: 20px;
    }
}
@media screen and (max-width:425px) {
    .col-2{
       display: none;
    }
    .signup-div{
        width: 100%;
        display: grid;
        grid-template-columns: auto ;
        height: 800px;
        align-items: center;
    }
}
